#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.moisture-meter {
	width: 100%;
	height: 40px;
}

.status-text {
	font-size: 1.5rem;
	font-weight: bold;
}

.subtitle {
	font-size: 1rem;
	font-weight: normal;
	margin-top: 0;
}
